# n8n
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/

# Groq
GROQ_API_KEY=pon_aqui_tu_api_key

# Telegram
TELEGRAM_BOT_TOKEN=pon_aqui_el_token_de_botfather

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=pon_aqui_el_token_del_tunel
